!!!
%html
  %head
    %title= "#{title} - The Amazing Blog"
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/reset-fonts-grids.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/base.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/style.css"}
  %body

    #doc2.yui-t4
      
      #header
        %h1 The Amazing Blog
        %h2 Rando's Random Ramblings

      #body
        #yui-main
          #content.yui-b
            =yield
      
        #sidebar.yui-b
          %h1 About Me

          %p I'm Paul Sadauskas, a Ruby & Web Developer living in senic Boulder, CO.
          %p I write posts infrequently enough to be annoying, and some of them are vaguely readable.

          %h1 Stalk Me

          %ul
            %li 
              %a{:href => "http://twitter.com/TheAmazingRando"}@TheAmazingRando 
              on Twitter

            %li
              %a{:href => "irc://freenode.net"}Rando
              on Freenode IRC

            %li
              %a{:href => "mailto:psadauskas@gmail.com"}psadauskas@gmail.com
              on Email

      
      #footer
        %p 
          &copy; 2009 Paul Sadauskas. 
          Layout based on one by
          %a{:href => "http://templates.arcsin.se/"}Arcsin
          and heavily modified my me.



